<footer class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="d-flex justify-content-between mb-4">
                    <img [src]="pathImage+'logo.png'" alt="Logo Vetzco" class="logo-footer">
                    <div class="d-flex align-items-center d-sm-none d-xl-flex">
                        <a href="#" target="_blank" class="me-3"><img [src]="pathImage+'facebook.png'" alt="Facebook"></a>
                        <a href="#" target="_blank" class="me-3"><img [src]="pathImage+'instagram.png'" alt="Instagram"></a>
                        <a href="#" target="_blank" class="me-3"><img [src]="pathImage+'linkedin.png'" alt="LinkedIn"></a>
                        <a href="#" target="_blank" class="me-3"><img [src]="pathImage+'twitter.png'" alt="Twitter"></a>
                    </div>
                </div>
                <p class="mb-4">Descubra os melhores especialistas, clínicas e Pet Shops da cidade mais próxima de você.</p>
            </div>
            <div class="col-12 col-md-3">
                <h3>A Vetzco</h3>
                <ul>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Entre em contato conosco</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h3>Para tutores</h3>
                <ul>
                    <li><a href="#">Encontre um especialista</a></li>
                    <li><a href="#">Pergunte para um especialista</a></li>
                    <li><a href="#">Cadastre seu pet</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <h3>Para Profissionais</h3>
                <ul>
                    <li><a href="#">Faça parte da Veztco</a></li>
                    <li><a href="#">Entenda os planos</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>