$green-1: #32B7BC;
$green-2: #023F41;
$green-3: #BDE2E3;
$orange: #FF9A43;

$font-p: 14px;
$font-m: 16px;
$font-g: 20px;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

body {
    font-family: 'Poppins', sans-serif;
}
p {
    line-height: 1.5;
    font-size:14px;
}
h1 {
    // font-size: 28px;
    font-weight:$font-bold;
    color:$green-2;
}
h2 {
    // font-size: 28px;
    font-weight:$font-bold;
}
a, a:hover, a:visited, a:focus {
    text-decoration: none;
}
.btn-link {
    color:$green-1;
    font-weight:$font-bold;
    font-size: 14px;
    text-decoration: none;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: $orange;
    border-color: $orange;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #FFF;
    border-color: $green-1;
    color:$green-2;
    font-size: $font-p;
    font-weight: $font-bold;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.top-bar {
    background-color: $green-2;
    color:#FFF;
    font-size: $font-p;
    a {
        color:$orange;
        font-weight:bold;
    }
}

.navbar {
    background-color: $green-1;
    .btn-menu {
        border-color:#FFF;
        color:#FFF;
    }
    .navbar-toggler {
        border: 0;
        color:#FFF;
        opacity: 1;
    }
    .material-icons {
        margin-right:14px;
    }
    .nav-link {
        font-size:14px;
    }
    .offcanvas {
        background-color: $green-1;
    }
}

// home

.top-home {
    background-color: $green-1;
    color:#FFF;
    p {
        font-size: $font-m;
    }
    input, select {
        font-size: $font-m;
    }
    .img-pets {
        margin-bottom:-43px;
    }
}
.form-vet-home {
    background-color: $green-2;
    color: #FFF;
    p {
        font-size: $font-m;
    }
    input, select {
        font-size: $font-m;
    }
}
.especialidades-home {
    .owl-carousel, .owl-item, .owl-item > div {
        overflow:visible;
    }
    img {
        border-radius: 100%;
        background: #FFFFFF;
        padding:40px;
        overflow:visible;
        box-shadow: 0px 4px 69px rgba(0, 0, 0, 0.07), 0px 1.20588px 20.8015px rgba(0, 0, 0, 0.0456112), 0px 0.500862px 8.63987px rgba(0, 0, 0, 0.035), 0px 0.181152px 3.12487px rgba(0, 0, 0, 0.0243888);
    }
    p {
        font-size:$font-m;
        margin-top:24px;
    }
    h2 {
        color:$green-1;
    }
}
.pergunte-home {
    background: url('../img/pug-em-duvida.png') center center no-repeat;
    overflow: visible;
    background-size: contain;
    padding-top: 100px;
    padding-bottom:250px;
    h2 {
        color:$green-1;
    }
}
.profissionais-home {
    h2 {
        color:$green-1;
    }
}
.card-vet {
    background: #FFFFFF;
    overflow:visible;
    padding:20px;
    border-radius: 4px;
    overflow:hidden;
    box-shadow: 0px 4px 69px rgba(0, 0, 0, 0.07), 0px 1.20588px 20.8015px rgba(0, 0, 0, 0.0456112), 0px 0.500862px 8.63987px rgba(0, 0, 0, 0.035), 0px 0.181152px 3.12487px rgba(0, 0, 0, 0.0243888);
    h3 {
        font-size: $font-m;
        color:$green-1;
        font-weight: $font-bold;
        margin-top:16px;
    }
    p {
        font-size: $font-p;
        margin-bottom:0;
    }
    span {
        color:$green-1;
    }
    .star-rating {
        span {
            color:$orange;
        }
    }
}
.owl-stage {
    padding:40px 0;
}
.favorite-card {
    .favorite-bg {
        position:absolute;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 50px solid $green-3;
        transform: rotate(-45deg);
        left: -32px;
        top:-7px;     
    }
    .material-icons {
        position: absolute;
        color:$green-2;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
}

// Especialista

.back-btn, .back-btn:hover, .back-btn:active, .back-btn:visited {
    color:$green-1;
    font-weight: $font-regular;
}
.vet-favorite {
    color:$green-2;
    cursor:pointer;
}
.vet-details {
    img {
        border-radius:100%;
        width:118px;
        height:118px;
    }
    .material-icons {
        color:$green-1;
    }
}
.vet-stars {
    color:$orange;
}
.user-initial {
    padding: 6px 12px;
    height:35px;
    display: block;
    background-color: $green-3;
    color:#FFF;
    border-radius: 100%;
}
.user-name {
    font-weight:$font-bold;
}
.vet-steps {
    .material-icons {
        color:$green-1;
        margin:0 16px 0 7px;
    }
    p {
        margin:0;
    }
}

// Rodapé
footer {
    background-color: $green-1;
    color:#FFF;
    h3 {
        color:$green-2;
        font-weight: $font-bold;
        font-size: $font-g;
    }
    li {
        font-size:14px;
        margin:12px 0;
    }
    .logo-footer {
        width:100px;
    }
    a, a:active, a:focus, a:hover, a:visited {
        color: #FFF;
    }
}